{{!-- this page is dunamic --}}
<!DOCTYPE html>
<html>

<head>
    <title>data with hbs dynamic</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h2 class="head1">{{title}} in hbss</h2> 
    {{!--  nodemon src/app.js -e js,hbs  => to update any edit static "in hbss"--}}

    <div class="header1">
        <a href="/">Home</a>
        <a href="/services"> Services</a>
        <a href="/contactUs">ContactUs</a>
        <a href="/data">Data</a>
        <a href="/about">About</a>
    </div>
</body>

</html>