{{!-- this page is dunamic --}}
<!DOCTYPE html>
<html>

<head>
    <title>home with hbs dynamic</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h2>{{>header}}</h2>
    
    <h2>{{title}}</h2>
    <h1>{{desc}}</h1>

     {{> footer }}
</body>

</html>