{{!-- this page is dynamic --}}
<!DOCTYPE html>
<html>

<head>
    <title> services with hbs dynamic</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h2>{{>header}}</h2>

    <h1>{{title}}</h1>
    <h1>{{desc}}</h1>
    <img src="{{img}}" alt="Descriptive Alt Text">

    {{> footer }}
</body>

</html>